<section class="row contacts">
    <div id="contact"
         class="contacts__cells px-4 px-sm-0 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 my-3 mt-md-4 mb-sm-4 mb-md-5 col-12">
        <h2 class="font-weight-bold contacts__formname">Contact</h2>
        <hr class="mb-3 contacts__hr">
        <h3 class="mb-3 contacts__callform">Call us</h3>
        <div class="contacts__telblock d-flex  justify-content-sm-start align-items-sm-center mb-2">
            <div class="contacts__telicon">
                <a href="tel:{{ contactNumber }}" class="contacts__telitext"><i class="fa fa-phone fa-2x"></i></a>
            </div>
            <div class="contacts__numberblock">
                <p class="text-capitalize m-0 font-weight-bold">Tourmond adventure</p>
                <a class="text-right contacts__phone m-0" href="tel:{{ contactNumber }}">{{ contactNumber }}</a>
            </div>
        </div>
        <form [formGroup]="contactForm"
              (ngSubmit)="onSubmit()"
               autocomplete="off">
            <div class="form-group">
                <label for="formGroupInputName" class="contacts__lbl">Your name *</label>
                <input class="form-control" id="formGroupInputName"
                       [ngClass]="{'required': (formInvalid || name.touched) && name.invalid}"
                       type="text" placeholder="Your Name"
                       name="name" [formControl]="contactForm.controls['name']"
                       required>
            </div>
            <div class="form-group">
                <label for="formGroupInputEmail" class="contacts__lbl">Your e-mail address *</label>
                <input class="form-control contacts__mailinp" id="formGroupInputEmail"
                       [ngClass]="{'required': (formInvalid || email.touched) && email.invalid}"
                       type="email" placeholder="name@example.com"
                       name="email" [formControl]="contactForm.controls['email']"
                       required>
            </div>
            <div class="form-group">
                <label for="formGroupInputSubject" class="contacts__lbl">Subject *</label>
                <input class="form-control" id="formGroupInputSubject"
                       [ngClass]="{'required': (formInvalid || subject.touched) && subject.invalid}"
                       type="text" placeholder="What's you message about ?"
                       name="subject" [formControl]="contactForm.controls['subject']"
                       required>
            </div>
            <div class="form-group">
                <label for="formGroupTextareaText" class="contacts__lbl">Message *</label>
                <textarea class="form-control" id="formGroupTextareaText"
                          [ngClass]="{'required': (formInvalid || text.touched) && text.invalid}"
                          rows="3" placeholder="A short description"
                          name="text" [formControl]="contactForm.controls['text']"
                          required>
                </textarea>
            </div>
            <div *ngIf="invalidRequest" class="form-group alert alert-danger">
                Form hasn't submitted. An unexpected error occurred! Please try again later.
            </div>
            <div *ngIf="invalidAlert" class="form-group alert alert-danger">
               Please fill out all required fields!
            </div>
            <div *ngIf="formSubmitted" class="form-group alert alert-primary">
                Message successfully sent!
            </div>
            <button type="submit" class="btn contacts__btn" >Send message</button>
        </form>
    </div>
</section>
