<section>
  <div class="apply-container row">
    <div class="apply-content offset-lg-2 col-lg-4 offset-md-0 col-md-12">
      <h3 class="text-center">Why to join us.</h3>
      <div class="mx-xs-5 mx-sm-5 mx-md-5 mx-lg-0">
        <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.</p>

        <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.</p>

        <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.</p>

        <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.</p>

        <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
          sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
          magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
          consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
          arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
          quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="apply-frame offset-lg-0 col-lg-3 offset-md-1 col-md-12 text-center">
      <div class="lds-ring" [hidden]="!loading"><div></div><div></div><div></div><div></div></div>

      <iframe id="frame"
              [src]="iframeUrl | safe" (load)="onLoadIFrame()"
              [hidden]="loading"
              width="745px" height="850"
              title="membership-questionnaire"
              frameborder="0" marginheight="0" marginwidth="0">
      </iframe>
    </div>
  </div>
</section>