<section>
    <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
            <div class="video-container">
                <div class="title-container">
                    <div class="headline display-4 text-uppercase" style="font-size: 4vw"> <!-- fa fa-4x -->
                        Tourmond
                        <br>
                        Adventure
                    </div>
                    <div class="inner h4 text-uppercase" style="font-size: 2vw"> <!-- fa fa-lg -->
                            Explore wild places
                    </div>
                </div>
                <video playsinline autoplay loop muted>
                    <source src="../../../assets/video/main-video.mp4" type="video/mp4"/>
                    Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: #c5cae94d">
            <div class="description fa fa-2x text-center" style="font-size: 2vw">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero id faucibus nisl tincidunt eget nullam. Et netus et malesuada fames. Ultricies lacus sed turpis tincidunt id. In est ante in nibh mauris cursus mattis. Morbi tristique senectus et netus et. Bibendum at varius vel pharetra vel turpis nunc eget. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Aenean sed adipiscing diam donec. Enim sed faucibus turpis in.
                <br><br>
                Vestibulum sed arcu non odio euismod lacinia at. Tincidunt dui ut ornare lectus sit amet est placerat. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Mauris commodo quis imperdiet massa tincidunt. Nulla pharetra diam sit amet nisl. Egestas purus viverra accumsan in nisl nisi. Non arcu risus quis varius. Egestas maecenas pharetra convallis posuere. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Est pellentesque elit ullamcorper dignissim cras.
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</section>