<section>
    <!-- <mat-grid-list cols="1" rowHeight="2:1">
         <mat-grid-tile>
             <div class="video-container">
                 <div class="title-container">
                     <div class="headline display-4 text-uppercase" style="font-size: 4vw"> &lt;!&ndash; fa fa-4x &ndash;&gt;
                         Tourmond
                         <br>
                         Adventure
                     </div>
                     <div class="inner h4 text-uppercase" style="font-size: 2vw"> &lt;!&ndash; fa fa-lg &ndash;&gt;
                             Explore wild places
                     </div>
                 </div>
                 <video playsinline autoplay loop muted>
                     <source src="../../../assets/video/main-video.mp4" type="video/mp4"/>
                     Your browser does not support the video tag. I suggest you upgrade your browser.
                 </video>
             </div>
         </mat-grid-tile>
         <mat-grid-tile style="background-color: #c5cae94d">
             <div class="description fa fa-2x text-center" style="font-size: 1.8vw">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Libero id faucibus nisl tincidunt eget nullam. Et netus et malesuada fames. Ultricies lacus sed turpis tincidunt id. In est ante in nibh mauris cursus mattis. Morbi tristique senectus et netus et. Bibendum at varius vel pharetra vel turpis nunc eget. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Aenean sed adipiscing diam donec. Enim sed faucibus turpis in.
                 <br><br>
                 Vestibulum sed arcu non odio euismod lacinia at. Tincidunt dui ut ornare lectus sit amet est placerat. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque. Mauris commodo quis imperdiet massa tincidunt. Nulla pharetra diam sit amet nisl. Egestas purus viverra accumsan in nisl nisi. Non arcu risus quis varius. Egestas maecenas pharetra convallis posuere. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Est pellentesque elit ullamcorper dignissim cras.
             </div>
         </mat-grid-tile>
     </mat-grid-list>-->
    <div class="card border-0 rounded-0 core">
        <!--<img src="../../../assets/images/MainFrontView.jpg" class="card-img img-fluid core__backimg rounded-0 border-0" alt="Responsive image">-->

        <div class="card-img-overlay d-flex align-items-center flex-column pt-lg-4 mt-sm-4 pt-xl-5 core__wording">
            <p class="h1 card-title mb-0 mt-sm-0 mt-md-4 mt-xl-5 pt-lg-5 text-center font-weight-bold text-uppercase core__tname">
                Tourmond
            </p>

            <p class="h1 card-title font-weight-bold text-center text-uppercase mb-0 mt-sm-0 mb-sm-1 mb-md-2 core__tname core__stname">
                Adventure
            </p>

            <p class="card-text d-block text-center text-uppercase font-weight-bold mb-0 mt-sm-0 mb-sm-2 core__smallname">
                Explore wild places
            </p>

            <!--<a routerLink="/apply" role="button"
               class="btn btn-light font-weight-bold mt-sm-2 mt-lg-4 mt-xl-5 text-uppercase core__btn">
                Apply for membership
            </a>-->
            <a routerLink="/courses" role="button"
               class="btn btn-light font-weight-bold mt-sm-2 mt-lg-4 mt-xl-5 text-uppercase core__btn">
                Check our trips
            </a>
        </div>
    </div>
    <div class="row no-gutters">
        <div id="about"
             class="px-4 px-sm-0 col-sm-10 offset-sm-1 col-md-8 offset-md-2 mt-sm-4 mb-sm-2 mt-3 mt-md-5 mb-md-4 pt-lg-3 pb-lg-3 pt-xl-4 pb-xl-4 core__wording">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit tempus dui
                quis semper. Suspendisse nisl nisi, interdum in bibendum vestibulum, tristique id justo. Proin odio
                risus, aliquet varius sollicitudin in, congue quis augue. Interdum et malesuada fames ac ante ipsum
                primis in faucibus. Mauris vel cursus orci. Vivamus volutpat condimentum turpis, sed aliquet est
                ullamcorper ut. Sed condimentum lorem at lobortis tempor. Etiam vitae quam ut neque tempor mattis ac at
                turpis. Nam sodales enim in justo pulvinar bibendum.</p>

            <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius
                sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque
                magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent
                consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non
                arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem,
                quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</section>