.header {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 400; }

.logo {
  height: 55px;
  width: 100px; }
  .logo__svg {
    width: 100px;
    height: 45px;
    pointer-events: none; }
  .logo__fallback {
    background: url("../assets/images/logo.png");
    width: 85px;
    height: 38.25px;
    background-size: contain; }

.menu__tggsp:hover {
  color: #55c8bc; }

.menu__tggfnt {
  font-size: 36px; }

.menu__tggbtn:hover {
  outline: none; }

.menu__tggbtn:focus {
  outline: none; }

.menu__tggbtn:active {
  outline: none; }

.menu__link {
  color: #475f7f; }
  .menu__link:hover {
    color: #55c8bc; }

.menu__phone {
  color: #475f7f;
  font-size: 0.85rem; }
  .menu__phone:hover {
    color: #55c8bc;
    text-decoration: none; }
  .menu__phone:focus {
    color: #55c8bc;
    text-decoration: none; }
  .menu__phone:active {
    color: #55c8bc;
    text-decoration: none; }

@media all and (min-width: 360px) {
  .menu__phone {
    font-size: 1em; } }

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
  background-size: cover;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity; }
  .video-container .title-container {
    display: grid;
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 1000;
    text-align: center;
    color: #f0f0f0 !important; }
  .video-container .inner {
    width: 45%;
    margin: 0 auto; }
  .video-container video {
    position: relative;
    top: 0;
    left: 0;
    width: inherit;
    z-index: -10; }

@font-face {
  font-family: 'travelingregular';
  src: url("../assets/fonts/traveling-webfont.woff2") format("woff2"), url("../assets/fonts/traveling-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.core {
  font-family: 'travelingregular', sans-serif;
  color: #fefefe; }
  .core__tname {
    margin-top: -8px; }
  .core__smallname {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    margin-top: -10px; }
  .core__btn {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.6rem;
    padding: 3px;
    background-color: rgba(228, 235, 240, 0.5);
    border: 1.5px solid #fefefe;
    color: #fefefe; }
    .core__btn:hover {
      border-color: transparent;
      background-color: #55c8bc;
      color: #fefefe;
      outline: none; }
    .core__btn:active, .core__btn:focus {
      border-color: transparent;
      background-color: #55c8bc;
      color: #fefefe;
      outline: none; }
    .core__btn:visited {
      border-color: transparent;
      background-color: #55c8bc;
      border-color: #fefefe;
      color: #fefefe;
      outline: none; }
  .core__wording {
    font-size: 0.9rem; }

@media all and (min-width: 360px) and (max-width: 575.99px) {
  .core__tname {
    margin-top: -1px; }
  .core__btn {
    font-size: 0.7rem;
    padding: 3.5px;
    margin-top: 8.5px; }
  .core__wording {
    font-size: 1em; }
  .core__smallname {
    margin-top: -5px; } }

@media all and (min-width: 576px) {
  .core__tname {
    font-size: 3rem; }
  .core__smallname {
    font-size: 1rem; }
  .core__btn {
    font-size: 0.8rem;
    padding: 6px;
    border: 1.8px solid #fefefe; }
  .core__wording {
    font-size: 1em; } }

@media all and (min-width: 768px) {
  .core__tname {
    font-size: 3.5rem; }
  .core__smallname {
    font-size: 1.15rem; }
  .core__btn {
    font-size: 1rem;
    padding: 7px; }
  .core__wording {
    font-size: 1.2em; } }

@media all and (min-width: 992px) {
  .core__tname {
    font-size: 4rem; }
  .core__smallname {
    font-size: 1.3rem; }
  .core__btn {
    font-size: 1.05rem;
    padding: 7px;
    border: 2px solid #fefefe; } }

@media all and (min-width: 1200px) {
  .core__tname {
    font-size: 5rem; }
  .core__smallname {
    font-size: 1.55rem; }
  .core__btn {
    font-size: 1.2rem;
    border: 2px solid #fefefe;
    padding: 9px; }
  .core__wording {
    font-size: 1.4em; } }

.footr {
  overflow-x: hidden;
  background-color: #475f7f;
  font-size: 0.8rem;
  color: #000000; }
  .footr__cellfour {
    min-width: 150px; }
  .footr__phone {
    color: #55c8bc; }
    .footr__phone:hover {
      color: #55c8bc;
      text-decoration: none; }
    .footr__phone:focus {
      color: #55c8bc;
      text-decoration: none; }
    .footr__phone:active {
      color: #55c8bc;
      text-decoration: none; }
  .footr__link {
    color: #000000; }
    .footr__link:hover {
      color: #55c8bc;
      text-decoration: none; }
    .footr__link:focus {
      color: #55c8bc;
      text-decoration: none; }
    .footr__link:active {
      color: #55c8bc;
      text-decoration: none; }

@media all and (min-width: 360px) and (max-width: 575.99px) {
  .footr {
    font-size: 0.9rem;
    padding-left: 15px; } }

@media all and (min-width: 576px) {
  .footr {
    font-size: 1rem; } }

@media all and (min-width: 768px) {
  .footr__scell {
    min-width: 120px; }
  .footr__pcell {
    min-width: 120px; } }

@media all and (min-width: 992px) {
  .footr__ccell {
    min-width: 165px; } }

@media all and (min-width: 1200px) {
  .footr {
    font-size: 1.05rem; }
    .footr__ccell {
      min-width: 240px; } }

.contacts {
  background-color: #e4ebf0;
  color: #475f7f; }
  .contacts__telicon {
    width: 50px; }
  .contacts__telitext {
    color: #55c8bc; }
  .contacts__numberblock {
    font-size: 0.85rem; }
  .contacts__phone {
    color: #475f7f; }
    .contacts__phone:hover {
      color: #55c8bc;
      text-decoration: none; }
    .contacts__phone:focus {
      color: #55c8bc;
      text-decoration: none; }
    .contacts__phone:active {
      color: #55c8bc;
      text-decoration: none; }
  .contacts__mailinp:focus::-webkit-input-placeholder {
    color: transparent; }
  .contacts__mailinp:focus:-ms-input-placeholder {
    color: transparent; }
  .contacts__mailinp:focus::-ms-input-placeholder {
    color: transparent; }
  .contacts__mailinp:focus::placeholder {
    color: transparent; }
  .contacts__btn {
    background-color: #55c8bc;
    color: #475f7f; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 400;
  background-color: #e4ebf0; }
