<div class="header" id="home">
    <div class="container">
        <nav class="navbar navbar-expand-lg menu">
            <button class="navbar-toggler pb-3 menu__tggbtn" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon b-inline-block menu__tggsp">
                    <i class="material-icons menu__tggfnt" style="font-size: 40px">reorder</i>
                </span>
            </button>
            <a class="navbar-brand d-lg-none logo" routerLink="/home">
                <object class="logo__svg" type="image/svg+xml" data="assets/svg/logo.svg">
                    <div class="logo__fallback"></div>
                </object>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand d-lg-inline-block d-none aling-self-end logo" routerLink="/home">
                    <object class="logo__svg" type="image/svg+xml" data="assets/svg/logo.svg">
                        <div class="logo__fallback"></div>
                    </object>
                </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active menu__item">
                        <a class="nav-link text-uppercase menu__link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown menu__item">
                        <a class="nav-link text-uppercase menu__link" routerLink="/cources">Cources</a>
                    </li>
                    <li class="nav-item menu__item">
                        <a class="nav-link text-uppercase menu__link" routerLink="/about-us">About us</a>
                    </li>
                    <li class="nav-item menu__item">
                        <a class="nav-link text-uppercase menu__link" routerLink="/contact-us">Contact us</a>
                    </li>
                </ul>
            </div>
            <p class="text-right menu__phone mb-0">{{ phoneNumber }}</p>
        </nav>
        <!-- Container end -->
    </div>
</div>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer-container">
    <div class="container" style="font-size: 1vw">
        <div class="row">
            <div class="col-3">
                <h4 routerLink="/about-us" style="font-size: 1.6vw">About Us</h4>
                <p routerLink="/home"><a>Home</a></p>
                <p><a>Blog</a></p>
                <p><a>Privacy policy and terms</a></p>
                <p><a>Reviews</a></p>
            </div>
            <div class="col-3">
                <h4 style="font-size: 1.6vw">Partners</h4>
                <p><a>Partner 1</a></p>
                <p><a>Partner 2</a></p>
                <p><a>Partner 3</a></p>
                <p><a>Partner 4</a></p>
            </div>
            <div class="col-3">
                <h4 style="font-size: 1.6vw">Social</h4>
                <p><a><i class="fa fa-facebook"></i> facebook</a></p>
                <p><a><i class="fa fa-instagram"></i> instagram</a></p>
                <p><a><i class="fa fa-skype"></i> skype</a></p>
                <p><a><i class="fa fa-youtube-play"></i> youtube</a></p>
            </div>
            <div class="col-3">
                <h4 style="font-size: 1.6vw">Contact</h4>
                <h6 style="font-size: 1.2vw"><strong>Tourmond Adventure</strong></h6>
                <p>
                    100 Division St
                    Chicago, IL USA
                </p>
                <p><strong><a href="tel:+1-222-333-3333">{{ phoneNumber }}</a></strong></p>
                <strong>Email us</strong>
            </div>
        </div>
    </div>
</footer>