.header {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 400; }

.logo {
  height: 55px;
  width: 100px; }
  .logo__svg {
    width: 100px;
    height: 45px;
    pointer-events: none; }
  .logo__fallback {
    background: url("../assets/images/logo.png");
    background-size: cover; }

.material-icons {
  font-size: 40px; }

.menu {
  background-color: rgba(228, 235, 240, 0.5); }
  .menu__tggsp:hover {
    color: #55c8bc; }
  .menu__tggbtn:hover {
    outline: none; }
  .menu__tggbtn:focus {
    outline: none; }
  .menu__tggbtn:active {
    outline: none; }
  .menu__link {
    color: #475f7f; }
    .menu__link:hover {
      color: #55c8bc; }
  .menu__under {
    background-color: transparent;
    color: #475f7f; }
  .menu__underitem {
    color: #475f7f; }
    .menu__underitem:hover {
      color: #55c8bc;
      background-color: transparent; }

.footer-container {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: whitesmoke;
  background-color: #222222; }
  .footer-container p {
    margin-bottom: 11px;
    cursor: pointer; }
    .footer-container p a {
      color: inherit; }
      .footer-container p a:hover {
        text-decoration: none; }

nav {
  text-transform: uppercase;
  color: #777; }

.img-tm-logo {
  block-size: 200%; }
