<header>
    <nav mat-tab-nav-bar>
        <a mat-tab-link [routerLink]="['home']" #rlHome="routerLinkActive"
           [active]="rlHome.isActive" routerLinkActive>
            <img class="img-tm-logo" src="../assets/svg/tm_logo.svg">
        </a>

        <a mat-tab-link [routerLink]="['cources']" #rlCourses="routerLinkActive"
           [active]="rlCourses.isActive" routerLinkActive>
            Courses
        </a>

        <a mat-tab-link [routerLink]="['about-us']" #rlAbout="routerLinkActive"
           [active]="rlAbout.isActive" routerLinkActive>
            About Us
        </a>

        <a mat-tab-link [routerLink]="['contact-us']" #rlContact="routerLinkActive"
           [active]="rlContact.isActive" routerLinkActive>
            Contact Us
        </a>

        <a mat-tab-link href="tel:{{phoneNumber}}">
            {{ phoneNumber }}
        </a>
    </nav>

</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>

</footer>