@import '../scss/variables.scss';
@import '../scss/header.scss';
@import '../scss/footer.scss';

nav {
  text-transform: uppercase;
  color: $tm-text-color-secondary;
}

.img-tm-logo {
  block-size: 200%;
}

