<!--<h1 class="text-center text-capitalize coursesdash__type mt-4 mt-lg-5" id="coursesdash">Courses</h1>
<div class="row coursesdash justify-content-lg-between d-sm-flex justify-content-sm-center mx-3 mx-md-5">
  <div class="col-12 col-sm-6 col-lg-4 mt-0 mt-sm-2 mt-lg-3">
    <div class="card text-white coursesdash__cell">
      <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 1.jpg" alt="Card image">
      <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
        <a routerLink="." class="d-flex align-items-end justify-content-end h-100 coursesdash__link">
          <h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">
            Beginners ice climbing</h5></a>
        <p class="card-text text-right d-inline-block coursesdash__destination">Rjukan, Norway</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-sm-2 mt-lg-3">
    <div class="card text-white coursesdash__cell">
      <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 2.jpg" alt="Card image">
      <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
        <a routerLink="." class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5
                class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">
          Multi-pitch ice climbing</h5></a>
        <p class="card-text text-right d-inline-block coursesdash__destination">Rjukan, Norway</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-lg-3">
    <div class="card text-white coursesdash__cell">
      <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 3.jpg" alt="Card image">
      <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
        <a routerLink="." class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5
                class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">
          Snow holing</h5></a>
        <p class="card-text text-right d-inline-block coursesdash__destination">Rjukan, Norway</p>
      </div>
    </div>
  </div>
</div>-->

<h1 #trips class="text-center text-capitalize coursesdash__type mt-3 mt-sm-4 mt-lg-5" id="classicdash">Trips</h1>

<div class="justify-content-md-between mx-3 mx-md-5 mb-3 mb-md-5"> <!-- row -->
  <!--<div >-->
    <!--<div class="col-sm-12 col-lg-12"> &lt;!&ndash;*ngIf="i % 2 == 0"&ndash;&gt;-->
      <div class="row justify-content-around justify-content-lg-center">
        <div *ngFor="let card of cards; let i = index">
          <div (click)="openModal(card)" class="col-12 col-sm-12 mt-4 mt-sm-2 mt-lg-3">
            <div class="card text-white coursesdash__cell">
              <img class="card-img coursesdash__backimg h-25"
                   [src]="'../assets/images/' + card.img"
                   alt="Card image">
              <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pr-2 pr-md-3 pr-xl-4">
                <a routerLink="." class="d-flex align-items-end justify-content-end h-100 coursesdash__link">
                  <h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">
                    {{ card.name }}
                  </h5>
                </a>
                <p class="card-text text-right d-inline-block coursesdash__destination">
                  {{ card.country }}
                </p>
              </div>
            </div>
          </div>
          <!--<div (click)="openModal(cards[i + 1])" class="col-12 col-sm-6 mt-4 mt-sm-2 mt-lg-3"
               *ngIf="i + 1 < cards.length" >
            <div class="card text-white coursesdash__cell">
              <img class="card-img coursesdash__backimg h-25"
                   [src]="'../assets/images/' + cards[i + 1].img"
                   alt="Card image">
              <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pr-2 pr-md-3 pr-xl-4">
                <a routerLink="." class="d-flex align-items-end justify-content-end h-100 coursesdash__link">
                  <h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">
                    {{ cards[i + 1].name }}
                  </h5>
                </a>
                <p class="card-text text-right d-inline-block coursesdash__destination">
                  {{ cards[i+ 1].country }}
                </p>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    <!--</div>-->
  <!--</div>-->
</div>

<!--
<h1 class="text-center text-capitalize coursesdash__type mt-3 mt-sm-4 mt-lg-5" id="shortdash">Short adventures</h1>
<div class="row coursesdash d-flex justify-content-center mx-3 mb-4 mb-sm-5">
  <div class="col-12 col-sm-6 col-lg-4 mt-0 mt-sm-2 mt-lg-3">
    <div class="card text-white coursesdash__cell">
      <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 8 Toubkal.jpg"
           alt="Card image">
      <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
        <a routerLink="." class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5
                class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">
          Toubkal (4,167m)</h5></a>
        <p class="card-text text-right d-inline-block coursesdash__destination">High Atlas, Morocco</p>
      </div>
    </div>
  </div>
</div>-->
