@import 'variables.scss';

@font-face {
    font-family: 'travelingregular';
    src: url('../assets/fonts/traveling-webfont.woff2') format('woff2'),
    url('../assets/fonts/traveling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.coursesdash {
    background-color: $back-color;

    &__type {
        font-size: 1.4rem;
    }

    &__cell {
        background-color: $maintext-color;

        &:hover {
            background-color: $back-colors;
        }
    }

    &__backimg {
        object-fit: cover;
        mask-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(0.00, rgba(0, 0, 0, 1)),
        color-stop(0.4499, rgba(0, 0, 0, 1)),
        color-stop(0.45, rgba(71, 95, 127, 0.7)),
        color-stop(0.90, rgba(71, 95, 127, 0.7)));
    }

    &__link {
        font-family: 'travelingregular', sans-serif;
        color: #fefefe;
        width: 55%;

        &:hover {
            color: $btn-color;
            text-decoration: none;
        }

        &:focus {
            color: $btn-color;
            text-decoration: none;
        }

        &:active {
            color: $btn-color;
            text-decoration: none;
        }
    }

    &__naming {
        font-size: 1.1rem;
    }

    &__destination {
        font-size: 0.8rem;
    }
}

@media all and (min-width: 360px) {
    .coursesdash {

        &__type {
            font-size: 1.5rem;
        }

        &__link {
            width: 54%;
        }

        &__naming {
            font-size: 1.1rem;
        }

        &__destination {
            font-size: 0.9rem;
        }
    }
}

@media all and (min-width: 576px) {
    .coursesdash {

        &__type {
            font-size: 1.8rem;
        }

        &__link {
            width: 53%;
        }

        &__naming {
            font-size: 1.2rem;
        }
    }
}

@media all and (min-width: 768px) {
    .coursesdash {

        &__type {
            font-size: 2.1rem;
        }

        &__link {
            width: 52%;
        }

        &__naming {
            font-size: 1.3rem;
        }

        &__destination {
            font-size: 1rem;
        }
    }
}

@media all and (min-width: 992px) {
    .coursesdash {

        &__type {
            font-size: 2.3rem;
        }
    }
}

@media all and (min-width: 1200px) {
    .coursesdash {

        &__type {
            font-size: 2.5rem;
        }

&__link {
            width: 53%;
        }

        &__naming {
            font-size: 1.4rem;
        }
    }
}