$tm-text-color-main: #0f0f0f;
$tm-text-color-main-inverse: #f0f0f0;
$tm-text-color-secondary: #777;

$footer-bg-color: #222222;
$footer-text-color: whitesmoke;

$main-description-bg-color: #c5cae94d;

$maintext-color: #475f7f;
$maintext-colors: #35475e;
$back-colors: rgba(228, 235, 240, .5);
$back-color: #e4ebf0;
$btn-color: #55c8bc;
$btn-colors: #39b1a4;