<div class="row contacts">
    <div class="contacts__cells px-4 px-sm-0 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 my-3 mt-md-4 mb-sm-4 mb-md-5 col-12">
        <h3 class="font-weight-bold contacts__formname">Contact</h3>
        <hr class="mb-3 contacts__hr">
        <h4 class="mb-3 contacts__callform">Call us</h4>
        <div class="contacts__telblock d-flex  justify-content-sm-start align-items-sm-center mb-2">
            <div class="contacts__telicon">
                <a href="tel:+12223333333" class="contacts__telitext"><i class="fas fa-phone fa-flip-horizontal fa-2x"></i></a>
            </div>
            <div class="contacts__numberblock">
                <p class="text-capitalize m-0 font-weight-bold">Tourmond adventure</p>
                <a class="text-right contacts__phone m-0" href="tel:+12223333333">+1 (222) 333-3333</a>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput" class="contacts__lbl">Your name *</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1" class="contacts__lbl">Your e-mail address *</label>
                <input type="email" class="form-control contacts__mailinp" id="exampleFormControlInput1" required placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput" class="contacts__lbl">Subject *</label>
                <input class="form-control" id="formGroupExampleInput" type="text" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="contacts__lbl">Message *</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" required rows="3"></textarea>
            </div>
            <button class="btn contacts__btn" type="submit">Send message</button>
        </form>
    </div>
</div>