<h1 class="text-center mt-4">Courses</h1>
<div class="row coursesdash d-lg-flex justify-content-lg-between mx-5" id="coursesdash">
    <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 1.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Beginners ice climbing</h5></a>
                <p class="card-text text-right d-inline-block">Rjukan, Norway</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 2.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Multi-pitch ice climbing</h5></a>
                <p class="card-text text-right d-inline-block">Rjukan, Norway</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 3.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Snow holing</h5></a>
                <p class="card-text text-right d-inline-block">Rjukan, Norway</p>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center text-capitalize mt-4">Classic expeditions</h1>