<h1 class="text-center text-capitalize coursesdash__type mt-4 mt-lg-5" id="coursesdash">Courses</h1>
<div class="row coursesdash justify-content-lg-between d-sm-flex justify-content-sm-center mx-3 mx-md-5">
    <div class="col-12 col-sm-6 col-lg-4 mt-0 mt-sm-2 mt-lg-3">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 1.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Beginners ice climbing</h5></a>
                <p class="card-text text-right d-inline-block coursesdash__destination">Rjukan, Norway</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-sm-2 mt-lg-3">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 2.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Multi-pitch ice climbing</h5></a>
                <p class="card-text text-right d-inline-block coursesdash__destination">Rjukan, Norway</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-lg-3">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 3.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Snow holing</h5></a>
                <p class="card-text text-right d-inline-block coursesdash__destination">Rjukan, Norway</p>
            </div>
        </div>
    </div>
</div>
<!-- Courses end -->
<h1 class="text-center text-capitalize coursesdash__type mt-3 mt-sm-4 mt-lg-5" id="classicdash">Classic expeditions</h1>
<div class="row justify-content-md-between mx-3 mx-md-5">
    <div class="col-sm-12 col-lg-6">
        <div class="row justify-content-around justify-content-lg-center">
            <div class="col-12 col-sm-6 mt-0 mt-sm-2 mt-lg-3">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 4 Elbrus.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pr-2 pr-md-3 pr-xl-4">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Mt Elbrus (5,642m)</h5></a>
                        <p class="card-text text-right d-inline-block coursesdash__destination">Russia</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-sm-2 mt-lg-3">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 5 Mera.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pr-2 pr-md-3 pr-xl-4">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Mera Peak (6,476m)</h5></a>
                        <p class="card-text text-right d-inline-block coursesdash__destination">Nepal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="row justify-content-around justify-content-lg-center">
            <div class="col-12 col-sm-6 mt-4 mt-lg-3">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 6 Kilimanjaro.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pr-2 pr-md-3 pr-xl-4">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Kilimanjaro (5,895m)</h5></a>
                        <p class="card-text text-right d-inline-block coursesdash__destination">Tanzania</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4 mt-lg-3">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 7 Everest.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pr-2 pr-md-3 pr-xl-4">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Everest Base Camp</h5></a>
                        <p class="card-text text-right d-inline-block coursesdash__destination">Nepal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Classic expeditions end -->
<h1 class="text-center text-capitalize coursesdash__type mt-3 mt-sm-4 mt-lg-5" id="shortdash">Short adventures</h1>
<div class="row coursesdash d-flex justify-content-center mx-3 mb-4 mb-sm-5">
    <div class="col-12 col-sm-6 col-lg-4 mt-0 mt-sm-2 mt-lg-3">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 8 Toubkal.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-2 pr-md-3 pr-xl-4">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold coursesdash__naming mb-0 pb-0">Toubkal (4,167m)</h5></a>
                <p class="card-text text-right d-inline-block coursesdash__destination">High Atlas, Morocco</p>
            </div>
        </div>
    </div>
</div>