<h1 class="text-center text-capitalize mt-4">Courses</h1>
<div class="row coursesdash justify-content-lg-between d-sm-flex justify-content-sm-center mx-3 mx-md-5" id="coursesdash">
    <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 1.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Beginners ice climbing</h5></a>
                <p class="card-text text-right d-inline-block">Rjukan, Norway</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 2.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Multi-pitch ice climbing</h5></a>
                <p class="card-text text-right d-inline-block">Rjukan, Norway</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 3.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Snow holing</h5></a>
                <p class="card-text text-right d-inline-block">Rjukan, Norway</p>
            </div>
        </div>
    </div>
</div>
<!-- Courses end -->
<h1 class="text-center text-capitalize mt-4">Classic expeditions</h1>
<div class="row justify-content-md-between mx-3 mx-md-5">
    <div class="col-sm-12 col-lg-6">
        <div class="row justify-content-around justify-content-lg-center">
            <div class="col-12 col-sm-6 mt-4">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 4 Elbrus.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Mt Elbrus (5,642m)</h5></a>
                        <p class="card-text text-right d-inline-block">Russia</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 5 Mera.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Mera Peak (6,476m)</h5></a>
                        <p class="card-text text-right d-inline-block">Nepal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="row justify-content-around justify-content-lg-center">
            <div class="col-12 col-sm-6 mt-4">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 6 Kilimanjaro.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Kilimanjaro (5,895m)</h5></a>
                        <p class="card-text text-right d-inline-block">Tanzania</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mt-4">
                <div class="card text-white coursesdash__cell">
                    <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 7 Everest.jpg" alt="Card image">
                    <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end">
                        <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Everest Base Camp</h5></a>
                        <p class="card-text text-right d-inline-block">Nepal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Classic expeditions end -->
<h1 class="text-center mt-4 text-capitalize">Short adventures</h1>
<div class="row coursesdash d-flex justify-content-center mx-3 mt-4 mb-5" id="shortdash">
    <div class="col-12 col-sm-6 col-lg-4">
        <div class="card text-white coursesdash__cell">
            <img class="card-img coursesdash__backimg h-25" src="../assets/images/Coursesdash 8 Toubkal.jpg" alt="Card image">
            <div class="card-img-overlay d-flex flex-column align-items-end justify-content-end pt-0 pl-0 pr-1 pr-xl-3">
                <a href="#" class="d-flex align-items-end justify-content-end h-100 w-100 coursesdash__link"><h5 class="card-title text-capitalize text-right font-weight-bold">Toubkal (4,167m)</h5></a>
                <p class="card-text text-right d-inline-block">High Atlas, Morocco</p>
            </div>
        </div>
    </div>
</div>