<footer class="row justify-content-md-between footr no-gutters px-md-5">
    <div class="col-12 col-md-6 ml-2 ml-sm-5 pl-sm-5 pl-md-0 pl-xl-5 ml-md-0 pr-md-1">
        <div class="pl-xl-5 row justify-content-around justify-content-lg-center mr-lg-1">
            <div class="col-6 footr__cell footr__acell my-3 my-sm-4 my-md-5 ml-lg-5">
                <h5 class="text-capitalize">About us</h5>
                <a href="#home" class="footr__link"><p class="my-0">Home</p></a>
                <a href="#" class="footr__link"><p class="my-0">Blog</p></a>
                <a href="#" class="footr__link"><p class="my-0">Privacy policy and terms</p></a>
                <a href="#" class="footr__link"><p class="my-0">Reviews</p></a>
            </div>
            <div class="col-6 footr__cell footr__pcell col-md-3 my-3 my-sm-4 my-md-5">
                <h5 class="text-capitalize">Partners</h5>
                <p class="my-0">Partner 1</p>
                <p class="my-0">Partner 2</p>
                <p class="my-0">Partner 3</p>
                <p class="my-0">Partner 4</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 ml-2 pr-2 pr-md-0 pr-xl-5 ml-sm-5 ml-md-0 pl-sm-5 pl-md-4 pl-lg-0">
        <div class="row justify-content-around justify-content-lg-center pr-xl-5">
            <div class="col-6 footr__cell footr__scell col-md-3 my-3 my-sm-4 my-md-5 mr-lg-5">
                <h5 class="text-capitalize">Social</h5>
                <a href="#" class="footr__link"><p class="my-0"><i class="fab fa-facebook"></i> facebook</p></a>
                <a href="#" class="footr__link"><p class="my-0"><i class="fab fa-instagram"></i> instagram</p></a>
                <a href="#" class="footr__link"><p class="my-0"><i class="fab fa-skype"></i> skype</p></a>
                <a href="#" class="footr__link"><p class="my-0"><i class="fab fa-youtube"></i> youtube</p></a>
            </div>
            <div class="col-6 footr__cell footr__ccell col-md-3 my-3 my-sm-4 my-md-5 mr-lg-5 ml-xl-3 footr__cellfour">
                <h5 class="text-capitalize"><a class="footr__link" target="_blank" href="contactform.html">Contact</a></h5>
                <p class="font-weight-bold text-capitalize my-0">Tourmond adventure</p>
                <p class="my-0 pr-1 pr-sm-0">100 Division St Chicago, IL USA</p>
                <p class="my-0"><a class="text-right footr__phone m-0" href="tel:+12223333333">+1 (222) 333-3333</a></p>
                <p class="my-0"><a class="text-right footr__phone m-0" href="mailto:name@example.com">Email us</a></p>
            </div>
        </div>
    </div>
</footer>