<footer class="row justify-content-md-between footr no-gutters">
    <div class="col-12 col-md-6 ml-2 ml-sm-5 ml-md-0">
        <div class="row justify-content-around justify-content-lg-center">
            <div class="col-6 footr__cell my-3 my-sm-4 my-md-5 ml-lg-5">
                <h5 class="text-capitalize">About us</h5>
                <p class="my-0">Home</p>
                <p class="my-0">Blog</p>
                <p class="my-0">Privacy policy and terms</p>
                <p class="my-0">Reviews</p>
            </div>
            <div class="col-6 footr__cell col-md-3 my-3 my-sm-4 my-md-5">
                <h5 class="text-capitalize">Partners</h5>
                <p class="my-0">Partner 1</p>
                <p class="my-0">Partner 2</p>
                <p class="my-0">Partner 3</p>
                <p class="my-0">Partner 4</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 ml-2 pr-2 pr-md-0 ml-sm-5 ml-md-0 pl-md-4 pl-lg-0">
        <div class="row justify-content-around justify-content-lg-center">
            <div class="col-6 footr__cell col-md-3 my-3 my-sm-4 my-md-5 mr-lg-5">
                <h5 class="text-capitalize">Social</h5>
                <p class="my-0">facebook</p>
                <p class="my-0">instagram</p>
                <p class="my-0">skype</p>
                <p class="my-0">youtube</p>
            </div>
            <div class="col-6 footr__cell col-md-3 my-3 my-sm-4 my-md-5 mr-lg-5 ml-xl-3 footr__cellfour">
                <h5 class="text-capitalize">Contact</h5>
                <p class="font-weight-bold text-capitalize my-0">Tourmond adventure</p>
                <p class="my-0 pr-1 pr-sm-0">100 Division St Chicago, IL USA</p>
                <p class="my-0"><a class="text-right footr__phone m-0" href="tel:+12223333333">+1 (222) 333-3333</a></p>
                <p class="my-0">Email us</p>
            </div>
        </div>
    </div>
</footer>