<main>
    <div class="card border-0 rounded-0 core">
        <img src="../assets/images/trial.jpg" class="card-img img-fluid rounded-0 border-0" alt="Responsive image">
        <div class="card-img-overlay d-flex align-items-center flex-column pt-lg-4 mt-sm-4 pt-xl-5 core__wording">
            <p class="h1 card-title mb-0 mt-sm-0 mt-md-4 mt-xl-5 pt-lg-5 text-center font-weight-bold text-uppercase core__tname">Tourmond</p>
            <p class="h1 card-title font-weight-bold text-center text-uppercase mb-0 mt-sm-0 mb-sm-1 mb-md-2 core__tname core__stname">Adventure</p>
            <p class="card-text d-block text-center text-uppercase font-weight-bold mb-0 mt-sm-0 mb-sm-2 core__smallname">Explore wild places</p>
            <a href="coursesdashboard.html" role="button" class="btn btn-light font-weight-bold mt-sm-2 mt-lg-4 mt-xl-5 text-uppercase core__btn">Apply for cources</a>
        </div>
    </div>
    <div class="row no-gutters ">
        <div id="about" class="px-4 px-sm-0 col-sm-10 offset-sm-1 col-md-8 offset-md-2 mt-sm-4 mb-sm-2 mt-3 mt-md-5 mb-md-4 pt-lg-3 pb-lg-3 pt-xl-4 pb-xl-4 core__wording">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit tempus dui quis semper. Suspendisse nisl nisi, interdum in bibendum vestibulum, tristique id justo. Proin odio risus, aliquet varius sollicitudin in, congue quis augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vel cursus orci. Vivamus volutpat condimentum turpis, sed aliquet est ullamcorper ut. Sed condimentum lorem at lobortis tempor. Etiam vitae quam ut neque tempor mattis ac at turpis. Nam sodales enim in justo pulvinar bibendum.</p>
            <p class="text-center">Donec tristique molestie molestie. Aliquam id suscipit risus. Integer molestie varius sapien eu eleifend. Praesent gravida urna sed elit pellentesque finibus. Proin ullamcorper pellentesque magna, nec molestie leo cursus id. Nam sollicitudin porta nunc, in mollis risus tristique et. Praesent consequat est felis, id sodales mauris porta et. Suspendisse in odio tortor. Quisque porttitor erat non arcu aliquam, vitae venenatis nisi iaculis. Nam dapibus cursus tempor. Aenean vestibulum quam lorem, quis bibendum erat elementum et. Sed quam odio, pharetra vitae dapibus non, molestie a erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</main>