@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '../node_modules/bootstrap/scss/bootstrap';

@import './scss/variables.scss';

body {
  font-family: 'Roboto Condensed', sans-serif;
  // font-family: FontAwesome, Georgia, serif;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}