@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '../node_modules/bootstrap/scss/bootstrap';

@import './scss/variables.scss';

body {
  // font-family: FontAwesome, Georgia, serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 400;
  background-color: $back-color;
}