@import 'variables.scss';

.footer-container {
  height: auto;

  padding-top: 30px;
  padding-bottom: 30px;

  color: $footer-text-color;
  background-color: $footer-bg-color;

  p {
    margin-bottom: 11px;

    cursor: pointer;

    a {
      color: inherit;

     &:hover {
       text-decoration: none;
     }
    }
  }
}