$tm-text-color-main: #0f0f0f;
$tm-text-color-main-inverse: #f0f0f0;
$tm-text-color-secondary: #777;

$footer-bg-color: #222222;
$footer-text-color: whitesmoke;

$main-description-bg-color: #c5cae94d;
