<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tourmond</title>
    <base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">

    <link rel="import" href="header.html">

    <!-- Add or Comment tags to access different views -->
    <link rel="import" href="main.html">
    <!--<link rel="import" href="contact-us.html">-->

    <link rel="import" href="footer.html">
</head>

<body>
<footer>
    <!-- Footer Content -->
</footer>
</body>

</html>